<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
</head>
<body>
  {% extends "investing_logs/base.html" %}
  {% block page_header %}
  <h1><a href="{% url 'investing_logs:instrument' instrument.id %}">{{instrument }}</a></h1>
   {% endblock page_header %}
  {% block content %}

    <p>编辑笔记Edit entry:</p>
    <form action="{% url 'investing_logs:edit_entry' entry.id %}" method='post'>
      {% csrf_token %}
      {{ form.as_div }}
      <button name="submit">保存Save changes</button>
    </form>
  {% endblock content %}
</body>
</html>